@import url("reset.css");



@media screen and (min-width: 600px) {

}
body{
  background-color: #FFF;
}

header nav ul li{
  margin-top: 80px;
  display: inline-block;
  background-color: #3FA09E;
  font-size: 3.2em;
  font-style: oblique;
  font-family: serif;
}
main p{
  background-color: #CA4712;
}

footer{
  margin-top: 40px;
  text-align: center;
  background-color: #000000;
  color: #FFF;
}
